.addFood {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 92vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.submit {
  height: 60px;
}

.formButtons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
