.editFood {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-height: 92vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.formButtons {
  display: inline-block;
  margin: 1rem 4rem 0.5rem 4rem;

  & > button {
    float: right;
    margin-right: auto;
    margin-left: 4px;
  }
    & > span {
    margin-left: auto;
  }
}

.imgPreview {
  position: relative;
  & img {
    max-width: 80%;
    position: relative;
    // left: -20%;
    border-radius: 13px;
    border: 3px inset grey;
  }

  & .icons {
    margin: 1rem .5rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}