@import "../../services/scss/color-palette.scss";

.signup {
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: $beige-light;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.button {
  margin: 2rem auto 0 auto;
}
