@import "../../services/scss/color-palette.scss";

.viewFood {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //   justify-content: space-around;
  align-items: center;
}

.pageHeader {
  min-height: 23vh;
  display: flex;
  //   flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.headerText {
  margin-bottom: 1rem;
}

.formButtons {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.noFood {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto 1rem;
  max-width: 75vw;
  text-align: center;

  & h2 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  & a {
    margin-top: 10rem;
    max-width: 200px;
  }
}

.table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  margin: 1.5rem 0;
  font-size: 0.9em;
  min-width: 17rem;
  max-width: 90vw;

  & thead tr {
    background-color: $black;
    color: $beige-light;
    text-align: right;
    font-weight: bold;
  }

  & tbody tr {
    border-bottom: 1px solid $grey;
    &:nth-of-type(even) {
      background-color: $beige-light;
    }
    &:last-of-type {
      border-bottom: 2px solid $black;
    }
  }

  & th,
  & td {
    padding: 0.75rem 1rem;
  }
  & .imgTd {
    text-align: center;
  }
}