@import "../../../services/color-palette.scss";

.button {
  padding: 1.5rem;
  border-radius: 23px;
  height: 2rem;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button {
  outline: none;
  text-decoration: none;

  &:link,
  &:visited {
    color: white;
  }
}
